/*Theme*/
:root {
    --font-weight-700: 700;
    --font-weight-900: 900;
    --primary-color: #3498db;
    --Secondary-color: #f2f2f2;
    --Additional-accent-color: #27ae60;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --border: 1px solid #eee;
}

html,
body {
    background-color: #f2f2f2;
}

.container {
    font-size: 1.6rem;
    min-height: 98vh;
    display: flex;
    flex-flow: column;
    color: var(--primary-color);
}

header {
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
}

.logo {
    background-color: var(--primary-color);
    font-weight: var(--font-weight-700);
    color: var(--Secondary-color);
    font-size: 2rem;
    padding: 1.5rem;
}

/* content */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background: gray;
    flex-flow: row-reverse;
    color: var(--Secondary-color);
    padding: 1rem;
}

.todo-container {
    padding: 1.5rem;
    background-color: white;
    border: var(--Additional-accent-color);
    box-shadow: var(--box-shadow);
    border: var(--border);
    min-width: 60rem;
    min-height: 40rem;
    border-radius: 3px;
}

.todo-container h1 {
    text-align: center;
}

.submit {
    margin-top: 20px;
    width: 89%;
    border: solid var(--primary-color) 1px;
    border-radius: 3px;
}

.button {
    background-color: var(--primary-color);
    color: white;
    /* padding: 3px 6px; */
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.erreur {
    color: red;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
}
.fait {
    margin: 0px;
    background-color: #43cf7e;
    border-radius: 3px;
    border: none;
}

.supprimer {
    background-color: rgb(218, 67, 21);
    border-radius: 3px;
    border: none;
}

.liste li {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
    line-height: 15px;
}
