/*Theme*/
:root {
    --font-weight-700: 700;
    --font-weight-900: 900;
    --primary-color: #3498db;
    --Secondary-color: #f2f2f2;
    --Additional-accent-color: #27ae60;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --border: 1px solid #eee;
}

html,
body {
    background-color: #f2f2f2;
}

.container {
    font-size: 1.6rem;
    min-height: 98vh;
    display: flex;
    flex-flow: column;
    color: var(--primary-color);
}

header {
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
}

.logo {
    background-color: var(--primary-color);
    font-weight: var(--font-weight-700);
    color: var(--Secondary-color);
    font-size: 2rem;
    padding: 1.5rem;
}

/* content */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    background: gray;
    flex-flow: row-reverse;
    color: var(--Secondary-color);
    padding: 1rem;
}

.todo-container {
    padding: 1.5rem;
    background-color: white;
    border: var(--Additional-accent-color);
    box-shadow: var(--box-shadow);
    border: var(--border);
    min-width: 60rem;
    min-height: 40rem;
    border-radius: 3px;
}

.todo-container h1 {
    text-align: center;
}
